.git
node_modules
vendor
storage/app/*
!storage/app/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
